.header__title {
    position: relative;
    margin: 0;
    max-width: 730px;
    padding-left: 64px;
    z-index: 2;
    color: #000000;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
  }